* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    background-color: rgba(238, 238, 238, 0.726);
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Header/Blog Title */
.header {
    padding: 0;
    width: 100%;
    background: url("img/Syracuse.jpg") no-repeat center top;
    height: 360px;
    text-align: center;
    position: relative;
    color: white;
    /* background-image:url("mainpage-img/Syracuse.jpg") no-repeat center top; */
}

.headertext{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
  font-size:4em;
  margin:0 0 0.5em 0;
  font-weight:700;

}
h2{
  font-size: 1.6em;
  margin: 0 0 0.1em 0;
  font-weight: 700;
  color: white;
}
h3{
  font-size: 1.6em;
}
p{
    line-height: 1.4;
    color: grey;
}

.navi{
  /* position: relative;
  margin-top: -8px; */
  overflow: hidden;
  height: 3em;
  /* width:100%;
  height:3em;
  padding:0;
  margin:0em 0em; */
  background-color: #FFA500;
  /* box-shadow:1px 3px 5px #39F; */
}

/* Style the topnav links */
.navi a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 1em 3em;
    text-decoration: none;
}

/* Change color on hover */
.navi a:hover {
    background: #ff7733;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
    float: left;
    width: 35%;
	margin-top: 1em;
	margin-left: 0em;
	margin-bottom: 2em;
	margin-right: 1em;
}

/* Right column */
.rightcolumn {
    float: right;
	width: 35%;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 11em;
}

.leftcard{
    margin-top: 4%;
    /* margin-left :25%; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-bottom: 2%;
    transition: all .2s ease-out;  
}
.leftcard:hover{
    box-shadow: 0px 8px 18px rgba(0,0,0,0.45);
	transition: all .2s ease-out;
}
.rightcard{
    margin-top: 4%;
    /* margin-left: 2%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-right: 25%; */
    margin-bottom: 2%;
    transition: all .2s ease-out;    
}
.rightcard:hover{
    box-shadow: 0px 8px 18px rgba(0,0,0,0.45);
	transition: all .2s ease-out;
}
.container {
    text-align: center;
    padding: 10% 20%;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
/* .leftcolumn {
    margin-top: 2%;
    margin-left :15%;
    position: relative;   
    float: left;
    width: 33%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 300px;
} */

/* Right column */
/* .rightcolumn {
    margin-top: 2%;
    margin-left: 2%;
    position: relative;   
    float: left;
    width: 33%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */



/* Add a card effect for articles */


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    height: 3em;
    text-align: center;
    background: #FFA500;
    margin-top: 1%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}